# Rust
/target
**/*.rs.bk
Cargo.lock

# Tauri
/src-tauri/target
/src-tauri/gen
/dist
/.vite

# Node
node_modules
/npm-debug.log
/yarn-debug.log
/yarn-error.log
/pnpm-debug.log

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# App data
*.db
temp_ocr.png
