APP_NAME=Federated Query API Gateway
API_VERSION=v1

SQLITE_DB_PATH=./data/sales.db

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=products

USE_MOCK_PG=True

LOG_LEVEL=INFO
